.navbar {
    background: #365a83;
    display: block;
    padding: 15px;
    color: #fff;
}

.navbar .title, .navbar ul, .navbar li {
    display: inline-block;
    margin: 0px;
}

.navbar li a {
    color: #aeddff;
    text-decoration: none;
    margin-right: 10px;
}

.navbar li a:hover {
    color: #fff;
}

.container {
    width: 80%;
    margin: 15px auto;
}
